<ion-header>
  <ion-toolbar>
    <ion-title>NEW INVENTORY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <!-- Delivery Guy Details Section -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Driver Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Name & Surname</ion-label>
            <ion-input [(ngModel)]="empName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Emp number</ion-label>
            <ion-input [(ngModel)]="employeeNumber" type="number"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-label position="floating">Company</ion-label>
            <ion-input [(ngModel)]="companyName" type="text"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input [(ngModel)]="contactNo" type="tel" (ionChange)="validatePhoneNumber()"></ion-input>
          </ion-item>

          <ion-item *ngIf="contactNo && !validatePhoneNumber()">
            <ion-label color="danger" stacked>Enter a valid cellphone number</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
  
      <!-- Delivery Item Details Section -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Add Inventory</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- <ion-item>
            <ion-label position="floating">Bar Code</ion-label>
            <ion-input [(ngModel)]="barCode" type="number"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Item Name</ion-label>
            <ion-input [(ngModel)]="itemName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input [(ngModel)]="quantity" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Size</ion-label>
            <ion-input [(ngModel)]="size" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="description"></ion-textarea>
          </ion-item>
        </ion-card-content>
      </ion-card>
  


      <div id="mo">
        <img [src]="previewImage" style="width: 400px;" *ngIf="previewImage" />
        <label class="capture-label" *ngIf="!imageSource">
          Capture picture
          <ion-icon name="camera-outline" (click)="takePhoto()" class="camera-icon"></ion-icon>
        </label>
      </div>

      <ion-button expand="block" (click)="submit()" [disabled]="submitDisabled()">Add Item</ion-button>
      <div>
        <ion-button expand="block" (click)="addOrdersToFirestore(inventories)" >Done</ion-button>
      </div>
  
</ion-content>
