<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let delivery of stock" lines="full" [hidden]="delivery.isHidden">
      <ion-thumbnail slot="start"> 
        <ion-img *ngIf="capturedPhotos.length > 0" [src]="delivery.capturedPhotosUrl" alt="Preview Image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ delivery.itemName }}</h2>
        <p class="item-size">Bar Code: {{ delivery.partNumber }}</p>
        <p class="item-size">Size: {{ delivery.size }}</p>
        <p class="item-quantity">Quantity:{{delivery.quantity}}  </p> 
          <span [ngClass]="{'low-stock': delivery.quantity < 10, 'out-of-stock': delivery.quantity === 0}">
            <span *ngIf=" delivery.quantity >=1 && delivery.quantity < 10">Low stock</span>
            <span *ngIf="delivery.quantity === 0">Out of stock</span>
          </span>
        <p class="item-description">Description: {{ delivery.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ng-container *ngFor="let inventory of inventories">
      <ion-item lines="full" [hidden]="inventory.isHidden" *ngFor="let delivery of inventory.items">
        <ion-thumbnail slot="start">
          <ion-img *ngIf="delivery.capturedPhotosUrl" [src]="delivery.capturedPhotosUrl" alt="Preview Image"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ delivery.itemName }}</h2>
          <p class="item-size">Bar Code: {{ delivery.partNumber }}</p>
          <p class="item-size">Size: {{ delivery.size }}</p>
          <p class="item-quantity">Quantity: {{ delivery.quantity }}</p>
          <span [ngClass]="{'low-stock': delivery.quantity < 10, 'out-of-stock': delivery.quantity === 0}">
            <span *ngIf="delivery.quantity >= 1 && delivery.quantity < 10">Low stock</span>
            <span *ngIf="delivery.quantity === 0">Out of stock</span>
          </span>
          <p class="item-description">Description: {{ delivery.description }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content> -->

